* {
    box-sizing: border-box;
}

.logo {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 5px 15px;
    margin-bottom: 20px;
    border-radius: 12px;
    max-width: 250px;
    border: 1px solid #cbd5e1;
    box-shadow: 0 4px 16px rgba(23, 36, 59, 0.1);
    backdrop-filter: blur(4px);
}

.logo img {
    display: block;
    max-width: 100%;
    height: auto;
}

body {
    background-color: #e8eef5;
    background-image: url("img/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    min-height: 100vh;

    color: #17243b;
    font-family: Arial, sans-serif;
}

.overview {
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 20px;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
    max-width: 680px;
    border: 1px solid #cbd5e1;
    box-shadow: 0 4px 16px rgba(23, 36, 59, 0.1);
    backdrop-filter: blur(4px);
    margin-left: auto;
    margin-right: auto;

}

.menu {
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 20px;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
    max-width: 680px;
    border: 1px solid #cbd5e1;
    box-shadow: 0 4px 16px rgba(23, 36, 59, 0.1);
    backdrop-filter: blur(4px);
    margin-left: auto;
    margin-right: auto;

    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.menu a {
    color: #17243b;
    font-size: 20px;
}

.card {
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 20px;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 12px;
    max-width: 300px;
    border: 1px solid #cbd5e1;
    box-shadow: 0 4px 16px rgba(23, 36, 59, 0.1);
    backdrop-filter: blur(4px);
    margin-left: auto;
    margin-right: auto;
}

.card h2,
.card h3 {
    font-size: 30px;
}

.stats {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.stats .card {
    margin: 0;
}




.declaration {
    width: 70%;
    margin: 30px auto;
    padding: 30px;
    
    background: rgba(150, 200, 230, 0.65);
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 15px;
}

.declaration h1 {
    font-size: 42px;
    margin-bottom: 30px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-group label {
    font-size: 20px;
    margin-bottom: 8px;
}

.form-group input,
.form-group select,
.form-group textarea {
    width: 100%;
    box-sizing: border-box;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
}

.form-group textarea {
    min-height: 150px;
    resize: vertical;
}

.declaration button {
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    font-size: 17px;
    cursor: pointer;
}